@import "../../global.scss";

.contact {
  flex: 0.5;
  // background-color: pink;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .pun {
    display: flex;
    flex-direction: column;

    @include mobile {
      padding: 0 10px 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center
      // border: solid 2px pink;
    }
    
    h1 {
      font-size: 35px;
      // font-style: italic;
      padding: 0 5px 0 5px;
      // display: flex;
      // justify-content: center;
      // padding: 0 5px 0 5px;
      // color: palevioletred;

      span {
        color: palevioletred;
        font-style:italic;
      }

      @include mobile {
        font-size: 20px;
      }
    }
    h2 {
      font-weight: lighter;
      padding: 40px 0 0 0;
      font-size: 60px;
      @include mobile {
        font-size: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }
  .itemContainer {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    // border: solid 2px orange;
    padding: 20px 0 20px 0;
    
    span {
      font-size: 25px;
      @include mobile {
        font-size: 15px;
      }
    }

    .icon {
      font-size: 35px;
      margin-right: 5px;
      @include mobile {
        font-size: 25px;
      }
    }

    img {
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }

    a {
      text-decoration: none;
      color: inherit; 
    }
    a:visited {
      text-decoration: none;
    }
    a:hover{
      color: rgb(26, 67, 155)
    }
  }
}